.card-price{
    background-color: white;
    border-top: none;
}

.fa-shopping-cart{
    color: white;
}
body{
    background-color: rgb(29, 28, 28);
}
.link-verde{
    color: green;
}
.link-verde:hover{
    color: rgb(36, 247, 36);
}
.cart-total-value::before{
    content: 'TOTAL: ';
    color: white;
}
.desconto-valor::before{
    content:'Desconto no Pix: ';
    color:white;
}
.desconto-valor{
    color: green;
}
.carousel-item img{
    width: auto;
    height: 350px;
    max-height: 350px;
    margin: auto; 
    display: block;
}

.sair-icon{
    color: green;
}

.sair-icon:hover{
    color: greenyellow;
}